<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册表单</title>
    <link rel="stylesheet" href="../foundation-5.5.3/css/foundation.css">
    <link rel="stylesheet" href="../foundation-5.5.3/css/normalize.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.30/angular.js"></script>
</head>

<body>
    <div ng-app="myApp">
        <form name="signup_form" novalidate ng-submit="signupForm()">
            <fieldset>
                <legend>Signup</legend>
                <div class="row">
                    <div class="large-12 columns">
                        <label>Your name</label>
                        <input type="text" placeholder="name" name="name" ng-model="signup.name" ng-minlength="3" ng-maxlength="20" required>
                        <div class="error" ng-show="signup_form.name.$dirty && signup_form.name.$invalid && signup_form.submitted">
                            <small class="error" ng-show="signup_form.name.$error.required">
                                Your name is required.
                            </small>
                            <small class="error" ng-show="signup_form.name.$error.minlength">
                                Your name is required to be at least 3 characters.
                            </small>
                            <small class="error" ng-show="signup_form.name.$error.maxlength">
                                Your name cannot be longer than 20 characters
                            </small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <label>Your email</label>
                        <input type="email" placeholder="email" name="email" ng-model="signup.email" ng-minlength="3" ng-maxlength="20" required
                            ng-focus>
                        <div class="error" ng-show="signup_form.email.$dirty && signup_form.email.$invalid && !signup_form.email.$focused">
                            <small class="error" ng-show="signup_form.email.$error.required">
                                Your email is required.
                            </small>
                            <small class="error" ng-show="signup_form.email.$error.minlength">
                                Your email is required to be at least 3 characters.
                            </small>
                            <small class="error" ng-show="signup_form.email.$error.email">
                                That is not a valid email. Please input a valid email.
                            </small>
                            <small class="error" ng-show="signup_form.email.$error.maxlength">
                                Your email cannot be longer than 20 characters
                            </small>
                        </div>
                    </div>
                    <div class="large-12 columns">
                        <label>Username</label>
                        <input type="text" placeholder="Desired username" name="username" ng-model="signup.username" ng-minlength="3" ng-maxlength="20"
                            required ensure-unique="username">
                        <div class="error" ng-show="signup_form.username.$dirty && signup_form.username.$invalid">
                            <small class="error" ng-show="signup_form.username.$error.required">
                                Your username is required.
                            </small>
                            <small class="error" ng-show="signup_form.username.$error.minlength">
                                Your username is required to be at least 3 characters.
                            </small>
                            <small class="error" ng-show="signup_form.username.$error.maxlength">
                                Your username cannot be longer than 20 characters
                            </small>
                            <small class="error" ng-show="signup_form.username.$error.unique">
                                That username is taken, please try another.
                            </small>
                        </div>
                    </div>
                    <button type="submit" class="button redius right" ng-disabled="signup_form.$invalid">Submit</button>
                </div>
            </fieldset>
        </form>
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('MyController', function ($scope) {
            $scope.submitted = false;

            $scope.signupForm = function () {
                if ($scope.signup_form.$valid) {
                    //
                } else {
                    $scope.signup_form.submitted = true;
                }
            };
        });
        app.directive('ensureUnique', function ($http) {
            return {
                require: 'ngModel',
                // 第四个参数是require的Controller
                link: function (scope, ele, attrs, c) {
                    scope.$watch(attrs.ngModel, function (n) {
                        if (!n) {
                            return;
                        }

                        $http({
                            method: 'POST',
                            url: '/api/check' + attrs.ensureUnique,
                            data: {
                                field: attrs.ensureUnique,
                                value: scope.ngModel
                            }
                        }).success(function (data) {
                            // 当用户同控制器进行交互, 并且ngModeolController中的$setViewValue方法被调用时, $parsers数组中的函数会以流水线的形式被调用
                            c.$setValidity('unique', data.isUnique);
                        }).error(function (data) {
                            c.$setValidity('unique', false);
                        });
                    })
                }
            };
        });

        app.directive('ngFocus', function () {
            var FOCUS_CLASS = 'ng-focused';
            return {
                restrict: 'A',
                require: 'ngModel',
                link: function (scope, ele, attrs, ctrl) {
                    ctrl.$focused = false;
                    ele.bind('focus', function (evt) {
                        ele.addClass(FOCUS_CLASS);
                        scope.$apply(function () {
                            ctrl.$focused = true;
                        })
                    }).bind('blur', function (evt) {
                        ele.removeClass(FOCUS_CLASS);
                        scope.$apply(function () {
                            ctrl.$focused = false;
                        });
                    });
                }
            };
        });
    </script>
</body>

</html>