<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>订票系统</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.30/angular.js"></script>
    <script src="./dist/main.js"></script>
</head>

<body>
    <div ng-app="myApp">
        <div ng-controller="TicketController">
            <div class="container">
                <fieldset>
                    <legend>初始化系统</legend>
                    <div class="row">
                        <textarea class="form-control" rows="15" ng-model="data"></textarea>
                        <button class="btn btn-default pull-right" ng-click="init()">初始化</button>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>余票查询</legend>
                    <form ng-submit="query()" class="form-inline">
                        <div class="form-group ">
                            <label for="start">出发地站名: </label>
                            <input type="text" class="form-control" id="start" placeholder="出发地站名" ng-model="qStart">
                        </div>
                        <div class="form-group">
                            <label for="end">目的地站名: </label>
                            <input type="text" class="form-control" id="end" placeholder="目的地站名" ng-model="qEnd">
                        </div>
                        <button type="submit" class="btn btn-default">查询</button>
                        <div class="form-group pull-right">
                            <label for="remainTicket">余票: </label>
                            <input type="text" ng-model="remainTicket">
                        </div>
                    </form>
                </fieldset>
                <fieldset>
                    <legend>车票预订</legend>
                    <form ng-submit="book()" class="form-inline">
                        <div class="form-group ">
                            <label for="ostart">出发地站名: </label>
                            <input type="text" class="form-control" id="ostart" placeholder="出发地站名" ng-model="oStart">
                        </div>
                        <div class="form-group">
                            <label for="oend">目的地站名: </label>
                            <input type="text" class="form-control" id="oend" placeholder="目的地站名" ng-model="oEnd">
                        </div>
                        <button type="submit" class="btn btn-default">查询</button>
                        <div class="form-group pull-right">
                            <label>订票结果: </label>
                            <textarea class="form-control" ng-model="oRet" rows="7"></textarea>
                        </div>
                    </form>
                </fieldset>
                <fieldset>
                    <legend>车票查询</legend>
                    <form ng-submit="queryTicket()" class="form-inline">
                        <div class="form-group ">
                            <label for="seqNo">车票序号: </label>
                            <input type="number" class="form-control" id="seqNo" placeholder="车票序号" ng-model="seqNo">
                        </div>
                        <button type="submit" class="btn btn-default">查询</button>
                        <div class="form-group pull-right">
                            <label>订票结果: </label>
                            <textarea class="form-control" ng-model="cRet" rows="7"></textarea>
                        </div>
                    </form>
                </fieldset>
                <fieldset>
                    <legend>车票退订</legend>
                    <form ng-submit="cancel()" class="form-inline">
                        <div class="form-group ">
                            <label for="cseqNo">车票序号: </label>
                            <input type="number" class="form-control" id="cseqNo" placeholder="车票序号" ng-model="cseqNo">
                        </div>
                        <button type="submit" class="btn btn-default">退订</button>
                        <div class="form-group pull-right">
                            <label>退订结果: </label>
                            <textarea class="form-control" ng-model="tRet" rows="7"></textarea>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
    <script>
        angular.module('myApp', []).controller('TicketController', function ($scope, $filter) {
            $scope.init = function () {
                window.train.init($scope.data);
            };

            $scope.query = function () {
                $scope.remainTicket = window.train.query($scope.qStart, $scope.qEnd);
            };

            $scope.book = function () {
                var ret = window.train.book($scope.oStart, $scope.oEnd);
                $scope.oRet = $filter('json')(ret);
            };

            $scope.queryTicket = function () {
                var ret = window.train.queryTicket($scope.seqNo);
                $scope.cRet = $filter('json')(ret);
            };

            $scope.cancel = function () {
                var ret = window.train.cancel($scope.cseqNo);
                $scope.tRet = $filter('json')(ret);
            };
        });
    </script>
</body>

</html>