{
    "parser": "babel-eslint",
    "plugins": [
        "html",
        "flowtype",
        "prettier"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:prettier/recommended",
        "plugin:flowtype/recommended",
        "vue"
    ],
    "rules": {
        "indent": 0,
        "semi": 0,
        "camelcase": 0,
        "no-console": 0
    }
}