#app0 {
    border: 3px solid gray;
}
#app1 {
    border: 3px solid red;
}

#app2 {
    border: 3px solid royalblue;
}

#app3 {
    border: 3px solid greenyellow;
}

#app4 {
    border: 3px solid fuchsia;
}

#app5 {
    border: 3px solid gold;
}

#app6 {
    border: 3px solid chartreuse;
}

#app7 {
    border: 3px solid greenyellow;
}

#app8 {
    border: 3px solid cornsilk;
}

#app9 {
    border: 3px solid darkblue;
}